<!-- Banner -->
<section class="banner {{ .style }}">
    <div class="content">
        {{ with .title }}<h1>{{ . }}</h1>{{ end }}
        {{ with .subtitle }}<p>{{ . | safeHTML }}</p>{{ end }}
        {{ with .main_content }}<p>{{ . | safeHTML }}</p>{{ end }}
        <ul class="actions stacked">
            <li>
                {{ with .button }}
                <a href="{{ .url }}" class="button primary large wide">
                    {{ .label }}
                </a>
                {{ end }}
            </li>
        </ul>
    </div>
    {{ with .image }}
    <div class="image">
        <img src="{{.}}" alt="" />
    </div>
    {{ end }}
</section>