<!-- Footer -->
<footer class="wrapper style1 align-center" id="contact">
        <div class="inner">
            <h2>Kontakt</h2>
            <ul class="icons">
                {{ with .Site.Params.social.instagram }}
                <li>
                    <a target="_blank" href="{{.}}" class="icon brands style2 fa-instagram" data-umami-event="open_instagram">
                        <span class="label">Instagram</span>
                    </a>
                </li>
                {{ end }}
                {{ with .Site.Params.social.youtube }}
                <li>
                    <a target="_blank" href="{{.}}" class="icon brands style2 fa-youtube" data-umami-event="open_youtube">
                        <span class="label">Youtube</span>
                    </a>
                </li>
                {{ end }}
                {{ with .Site.Params.social.facebook }}
                <li>
                    <a target="_blank" href="{{.}}" class="icon brands style2 fa-facebook" data-umami-event="open_facebook">
                        <span class="label">Facebook</span>
                    </a>
                </li>
                {{ end }}
                {{ with .Site.Params.social.email }}
                <li>
                    <a target="_blank" href="mailto:{{.}}" class="fav icon style2 fa-envelope" data-umami-event="open_email">
                        <span class="label">Email</span>
                    </a>
                </li>
                {{ end }}
            </ul>
            <p>Hugo Story &copy; 2020 <a target="_blank" href="https://github.com/caressofsteel/">CaressOfSteel</a><br />
                Thiago Ribeiro Mendes
            </p>
        </div>
    </footer>
    
    <script defer src="https://umami.tapioca.eco.br/script.js" data-website-id="b4ba0907-ced5-4a58-8ed5-44a9bda0dabb"></script>