<style>
    body {
        margin: 0; /* Remove default margin */
        padding-top: 100px; /* Add padding to ensure content is below the top bar */
    }

    .contact-icons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem 1rem;
        background-color: #fff; /* Changed background color to white */
        position: fixed; /* Make the contact bar stay at the top */
        top: 0;
        left: 0;
        width: 100%; /* Make the contact bar take the entire width */
        z-index: 1000; /* Ensure it stays on top of other content */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow for better visibility */
    }

    .contact-icons a {
        color: #333;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 0 0.5rem; /* Add padding to each icon */
    }

    .contact-icons .separator {
        border-left: 1px solid #333;
        height: 1.5rem;
        margin: 0 0.5rem;
    }
</style>

<div class="contact-icons">    
    {{ with .Site.Params.social.instagram }}
    <a href="{{ . }}"><i class="fab fa-instagram"></i></a>
    {{ end }}
    {{ with .Site.Params.social.youtube }}
    <a href="{{ . }}"><i class="fab fa-youtube"></i></a>
    {{ end }}
    {{ with .Site.Params.social.facebook }}
    <a href="{{ . }}"><i class="fab fa-facebook"></i></a>
    {{ end }}
    <div class="separator"></div>
    <a href="/"><i class="fas fa-home"></i></a>
</div>