<article>
    <a href="{{ .image }}" class="image" data-umami-event="open_image_{{ .image }}">
        <img src="{{ .thumb }}" alt="" />
    </a>
    <div class="caption">
        <ul class="actions fixed">
            <li><span class="button small">{{ .button }}</span></li>
        </ul>
    </div>
</article>