<!-- Gallery -->
<section class="wrapper style1 align-center" {{ with .id }} id="{{ . }}" {{ end }}>
    <div class="inner">
        <h2>{{ .title }}</h2>
    </div>

    <!-- Gallery -->
    <div class="gallery {{ .style }}">
        {{ range .pictures }}
        {{ partial "picture" . }}
        {{ end }}
    </div>
</section>