<!-- Banner -->
<section class="banner {{ .style }}">
    <div class="content">
        {{ with .dialog_title }}<h2>{{ . }}</h2>{{ end }}
        {{ with .dialog_content }}<p>{{ . | safeHTML }}{{ end }}</p>
        <a href="/" class="button primary large wide">Powrót do Strony Głównej</a>
    </div>
    {{ with .image_dialog }}
        <div class="image">
            <img src="{{ . | relURL }}" alt="" />
        </div>
    {{ end }}
</section>
