<article class="gallery-item">
    {{ with .youtubeVideoId }}
    <div class="video-container" style="position: relative; width: 100%; height: 350px; overflow: hidden; border-radius: 1px;">
        <iframe class="video-iframe" id="player-{{ . }}" style="width: 100%; height: 100%; border: none;"
            src="https://www.youtube.com/embed/{{ . }}?enablejsapi=1&autoplay=0&modestbranding=1&showinfo=0&rel=0&iv_load_policy=3&controls=1&disablekb=1" frameborder="0" allowfullscreen></iframe>
    </div>
    {{ end }}
</article>

<style>
.gallery-item {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.gallery-item.visible {
    opacity: 1;
}

.video-container:hover .video-iframe {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

</style>

<script>
var players = [];

function onYouTubeIframeAPIReady() {
    var iframes = document.querySelectorAll('.video-iframe');
    iframes.forEach(function(iframe) {
        var player = new YT.Player(iframe.id, {
            events: {
                'onStateChange': onPlayerStateChange
            }
        });
        players.push(player);
    });
}

function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PLAYING) {
        players.forEach(function(player) {
            if (player !== event.target) {
                player.pauseVideo();
            }
        });
    }
}

// Load the IFrame Player API code asynchronously.
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
</script>