<!-- Gallery Videos -->
<section class="wrapper style1 align-center" {{ with .id }} id="{{ . }}" {{ end }}>
    <div class="inner">
        <h2>{{ .title }}</h2>
    </div>

    <!-- Gallery -->
    <div class="gallery {{ .style }}">
        {{ range .videos }}
        {{ partial "video" . }}
        {{ end }}
    </div>
</section>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var items = document.querySelectorAll('.gallery-item');
    var observer = new IntersectionObserver(function(entries) {
        entries.forEach(function(entry) {
            if (entry.isIntersecting) {
                entry.target.classList.add('visible');
                observer.unobserve(entry.target);
            }
        });
    }, { threshold: 0.1 });

    items.forEach(function(item, index) {
        item.style.transitionDelay = (index * 0.1) + 's';
        observer.observe(item);
    });
});
</script>